/*-- scss:defaults --*/
$headings-font-weight:  500 !default;
$h1-font-size:          1.67rem !default;
$h2-font-size:          1.41rem !default;
$h2-border-bottom:      0px;

/*-- scss:rules --*/
.title {
    font-size: 2.5rem;
    letter-spacing: -0.03em;
    margin-left: -0.1em;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0;
}

.header-section-number {
  color: inherit;
}

.table>:not(:first-child) {
  border-top: 0;
}

caption {
  text-align: left;
}

.highlights {
  background-color: rgba(233,236,239,1);
  border: 1px solid rgba(233,236,239,1);
  border-radius: .33rem;
  font-weight: 500;
  transform: translateX(-0.2rem);
}

.highlights h1 {
  margin-top: 0.4rem;
  margin-left: 0.2rem;
  margin-top: 0.4rem;
}

.highlights strong {
  color: #9954bb;
  font-weight: 600;
}

.row_grouped tr.odd> td:first-child, .row_grouped tr.even>td:first-child  {
    padding-left: 1.5em;
}

.dt-buttons {
  float: right !important;
  margin-right: 12px;
}

.dt-button {
  margin-right: .125em !important;
  margin-left: .125em !important;
  padding-left: .10em !important;
  padding-right: .10em !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: .75em !important;
}

.dtrg-level-1 td {
  padding-left: 0.67em !important;
  font-size: 1em !important;
  font-weight: 500 !important;
}

th.my_th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  border-bottom: none !important;
  text-align: center !important;
  vertical-align: bottom !important;
}

th.my_th_2 {
  padding-top: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  text-align: center !important;
  vertical-align: top !important;
}

.hover rect {
  fill: rgba(255,255,255,.75) !important;
}

.hover rect text {
  font-size: .81em !important;
}

.observablehq input {
  font-size: .67em !important;
}
